* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
header {
  background: #fff;
  border-bottom: 1px #fff;
  padding: 20px 40px;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 25px;
  font-weight: 500;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}


.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h2 {
  font-size: 28px;
  font-weight: 525;
  text-transform: uppercase;
}

.blog-post {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.card {
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  overflow: hidden;
  padding: 30px;
}

.image-placeholder {
  width: 300px;
  height: 260px;
  background: #d4d4d4;
  border-radius: 12px;
  margin-right: 30px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.meta {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.btn {
  width: fit-content;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}


footer {
  margin-top: auto; 
}
footer {
  background: #212323;
  padding: 20px 40px;
  text-align: center;
  color: #fff;
}